language: python

sudo: required
dist: trusty

services:
  - docker

matrix:
  include:
    - env: DOCKER_OS=ubuntu16.04
      python: 2.7
    - env: DOCKER_OS=ubuntu16.04
      python: 3.5
    - env: DOCKER_OS=centos7
      python: 2.7
    - env: DOCKER_OS=centos7
      python: 3.5

install:
  - docker build -f Dockerfile-$DOCKER_OS-py${TRAVIS_PYTHON_VERSION} -t fredrikaverpil/pyside2-$DOCKER_OS-py${TRAVIS_PYTHON_VERSION} .
  - docker run --rm -v $(pwd):/pyside-setup/dist fredrikaverpil/pyside2-$DOCKER_OS-py${TRAVIS_PYTHON_VERSION}

script:
  - ls -al *.whl /